*.pem
.DS_Store

# Local Terraform directories
.terraform/

# Terraform state files (may contain sensitive data)
*.tfstate
*.tfstate.*

# Terraform cragit add .gitignoresh log files
crash.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# Terraform CLI configuration files
.terraformrc
terraform.rc